body {
  text-align: center;
  text-transform: uppercase;
  font-family: lato;
  width: 100%;
}

img {
  width: 100px;
  height: 100px;
  margin: auto;
  object-fit: cover;
}
 
.container {
  display: block;
  background-color: yellow;
  height:200px;
  width:auto;
  margin: auto;
}

.flex-item {
  display: block;
  float: left;
  width: 17%;
  margin: 5px;
  background-color: pink;
  text-align: center;
}

.flex-item ul {
  list-style: none;
  padding: 0;
}

.flex-item li {
  line-height: 25px;
}
